<div class="container mt-4">
  <div class="row">
    <!-- Profil Resmi -->
    <div class="col-md-3 d-flex flex-column align-items-center position-relative mt-4">
      <label for="profileImageUpload" class="profile-img-container">
        <i *ngIf="!profileImage" class="fa-regular fa-circle-user profile-img-default"></i>
        <!-- Profil resmi var ise, göster -->
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" class="profile-img">
        <!-- Düzenleme ikonu -->
        <p class="edit-icon">
          <i class="fa-solid fa-pencil"></i>
        </p>
        <input type="file" id="profileImageUpload" hidden 
        (change)="onImageChange($event)" 
        accept="image/png, image/jpeg, image/jpg, image/bmp, image/tiff">
      </label>
      <button *ngIf="profileImageChanged" class="btn btn-primary mt-3" (click)="updateProfileImage()">Resmi
        Kaydet</button>

    </div>

    <!-- Kullanıcı Bilgileri ve Şifre Güncelleme -->
    <div class="col-md-9">
      <h1><i class="fa-solid fa-gear"></i> Ayarlar</h1>
      <p>Buradan profil fotoğrafınızı, e-posta adresinizi ve şifrenizi güncelleyebilirsiniz.</p>
      <ul class="list-group">
        <li class="list-group-item" (mouseenter)="userObj.showFullTc = true" (mouseleave)="userObj.showFullTc = false">
          <i class="fa-solid fa-id-card"></i> <strong> T.C. Kimlik:</strong> {{ userObj.nationalityId | tcMask:userObj.showFullTc }}
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-user"></i> <strong> İsim Soyisim:</strong> {{ userObj.firstName }} {{
          userObj.lastName }}
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-cake-candles"></i> <strong> Doğum Tarihi:</strong> {{ userObj.dateOfBirth |
          date:'dd/MM/yyyy' }}
        </li>
        <li class="list-group-item d-flex align-items-center justify-content-between">
          <i class="fa-solid fa-envelope"></i> <strong> Email: </strong>
          <div class="w-100 d-flex">
            <input type="email" [(ngModel)]="userObj.email" class="form-control w-75 ms-3 " required>
            <button class="btn btn-primary w-25 ms-3" (click)="updateProfile()"><i class="fa-solid fa-rotate"></i> E-posta Güncelle</button>

          </div>
        </li>
        <li class="list-group-item">
          <button class="btn btn-primary" type="button" (click)="togglePasswordUpdateCollapse()" aria-expanded="false" aria-controls="passwordUpdateCollapse">
            <i class="fa-solid fa-lock"></i> <strong> Şifre Güncelleme </strong>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="collapse mt-3" [ngClass]="{'show': isPasswordUpdateCollapseOpen}" id="passwordUpdateCollapse">
            <div class="mb-3">
              <label for="currentPassword" class="form-label"><i class="fa-solid fa-lock"></i> Mevcut Şifre:</label>
              <input type="password" id="currentPassword" [(ngModel)]="currentPassword" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label"><i class="fa-solid fa-unlock"></i> Yeni Şifre:</label>
              <input type="password" id="newPassword" [(ngModel)]="newPassword" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label"><i class="fa-solid fa-unlock"></i> Yeni Şifre Tekrar:</label>
              <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" required>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" (click)="updatePassword()">Şifre Güncelle</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>