/* Genel Stil Ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color); /* Arka plan rengi değişken ile */
    color: var(--text-color); /* Metin rengi değişken ile */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Bootstrap'in form container'ı etkileyen default paddinglerini sıfırlayalım */
.container {
    padding: 0 !important;
}

/* Form container */
.card {
    background-color: var(--card-background-color); /* Kart arka planı değişken ile */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Başlık Alanı */
.text-center h4 {
    color: var(--primary-color); /* Başlık rengi değişken ile */
    font-weight: bold;
}

.text-center h5 {
    color: var(--secondary-text-color); /* Açıklama metni rengi */
    font-weight: normal;
}

.text-muted{
    color: var(--secondary-text-color) !important;
}
/* Form Başlıkları */
h5.text-center {
    font-size: 1.2rem;
    color: var(--primary-color); /* Yeşil renk */
}

/* Input Alanları */
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.2); /* Input kenarlığı */
    border-radius: 5px;
    background-color: var(--input-background-color); /* Beyaz arka plan */
    color: var(--text-color); /* Metin rengi siyah */
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Input alanlarına odaklanıldığında */
.form-control:focus {
    border-color: var(--primary-color); /* Yeşil kenarlık */
    box-shadow: 0 0 5px rgba(8, 162, 80, 0.3);
}
.form-label{
    color: var(--text-color);
}

/* Input alanlarına hover efekti */
.form-control:hover {
    border-color: var(--primary-color);
    background-color: var(--input-hover-background-color); /* Açık yeşil arka plan */
}
.form-control::placeholder {
    color: var(--secondary-text-color); /* Gri placeholder */
}

/* CAPTCHA Alanı */
.cf-turnstile {
    display: flex;
    justify-content: center;
}

/* Giriş Butonu */
.btn-primary {
    background-color: var(--primary-color); /* Yeşil buton */
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-hover-color); /* Koyu yeşil hover */
}

/* Kayıt Linki */
.text-center a {
    color: var(--primary-color);
    font-weight: bold;
}

.text-center a:hover {
    text-decoration: underline;
}

/* Responsive Tasarım */
@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}