/* Navbar Renk Düzenlemeleri */
.navbar {
    background-color: var(--primary-color);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand img {
    height: 60px;
    margin-right: 10px;
}

.navbar .navbar-toggler {
    color: white;
}

.navbar .nav-link {
    color: white;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: 0 5px;
}

.navbar .nav-link:hover {
    color: white;
    background-color: var(--primary-hover-color);
    border-radius: 10px;
}

/* Arama kutusunu ortalamak için */
.navbar .nav-item.mx-auto {
    flex-grow: 1;
    text-align: center;
}

.navbar .form-control {
    width: 80%;
    margin: auto;
    max-width: 400px;
}

/* Tema değiştir button - Genel stil */
.navbar .btn-outline-secondary, 
.theme-toggle-btn {
    color: var(--text-color);
    border-color: var(--primary-color);
}

.navbar .btn-outline-secondary:hover,
.theme-toggle-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Container düzeni */
.container-fluid {
    display: flex;
    align-items: center;
    position: relative;
}

/* Tema değiştirme butonu için özel düzenleme */
.theme-toggle-btn {
    position: absolute;
    right: 15px;
    z-index: 1050; /* Diğer elementlerin üzerinde görünmesi için yüksek z-index */
}

/* Navbar menüsü için düzen */
.navbar-collapse {
    padding-right: 50px; /* Tema butonu için yer açıyoruz */
}

/* Profil dropdown */
.navbar .nav-item.dropdown .dropdown-menu {
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-hover-color);
    color: white;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}

/* Mobil Menü - Animasyon İyileştirmesi */
.navbar-collapse {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.navbar-collapse.show {
    max-height: 500px; /* Bu değeri menünüzün maksimum yüksekliğine göre ayarlayın */
    opacity: 1;
    visibility: visible;
}

/* Güneş ve Ay simgesi animasyon */
.navbar .btn-outline-secondary i.fas.fa-sun,
.theme-toggle-btn i.fas.fa-sun {
    color: #ffda85;
    /* Güneş rengi */
    width: 20px;
}

.navbar .btn-outline-secondary i.fas.fa-moon,
.theme-toggle-btn i.fas.fa-moon {
    color: #ffffff;
    /* Ay rengi */
    width: 20px;
}

.navbar .navbar-title {
    display: inline-block;
    max-width: 90%;
    /* Başlık, container'a sığacak şekilde boyutlandırılır */
    word-wrap: break-word;
    /* Uzun kelimeler alt satıra kayar */
    white-space: normal;
    /* Satır sonunda otomatik olarak alt satıra geçer */
}

@media screen and (max-width: 500px) {
    .navbar .navbar-title {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    /* Mobil görünümde tema butonunun konumu */
    .theme-toggle-btn {
        position: static;
        margin-left: auto;
        margin-right: 10px;
        z-index: auto;
    }
    
    /* Navbar collapse için padding'i kaldır */
    .navbar-collapse {
        padding-right: 0;
    }
    
    /* Navbar flexbox düzeni */
    .container-fluid {
        flex-wrap: wrap;
    }
    
    .navbar-brand {
        flex: 1;
    }
    
    .navbar-toggler {
        order: 3;
    }
    
    .theme-toggle-btn {
        order: 2;
    }
    
    .navbar-collapse {
        order: 4;
        width: 100%;
    }

    .navbar .nav-item {
        margin: 5px 0;
        width: 100%;
        background-color: none !important;
    }

    .start-100 {
        left: 10% !important;
        top: 15%!important;
    }
    
    .navbar .nav-item .nav-link {
        background-color: var(--primary-color) !important;
        margin: 0 16px;
    }

    .navbar .nav-item .navbar .form-control {
        width: 100%;
        margin: auto;
    }
}