/* Navbar Renk Düzenlemeleri */
.navbar {
    background-color: var(--primary-color);

}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand img {
    height: 60px;
    margin-right: 10px;
}

.navbar .navbar-toggler {
    color: white;
}

.navbar .nav-link {
    color: white;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: 0 5px;

}

.navbar .nav-link:hover {
    color: white;
    background-color: var(--primary-hover-color);
    border-radius: 10px;
}

/* Arama kutusunu ortalamak için */
.navbar .nav-item.mx-auto {
    flex-grow: 1;
    text-align: center;
}

.navbar .form-control {
    width: 80%;
    margin: auto;
    max-width: 400px;
}

/* Tema değiştir button */
.navbar .btn-outline-secondary {
    color: var(--text-color);
    border-color: var(--primary-color);
}

.navbar .btn-outline-secondary:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Profil dropdown */
.navbar .nav-item.dropdown .dropdown-menu {
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-hover-color);
    color: white;

}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}

/* Mobil Menü */
.navbar-collapse {
    transition: all 0.3s ease;
}

.navbar-collapse.show {
    display: block !important;
}

.navbar .btn-outline-secondary i.fas.fa-sun {
    color:
        #ffda85;
    width: 20px;
}

.navbar .btn-outline-secondary i.fas.fa-moon {
    color:
        #ffffff;
    width: 20px;

}

.navbar .navbar-title {
    display: inline-block;
    max-width: 90%;
    word-wrap: break-word;
    white-space: normal;
}

@media screen and (max-width: 500px) {
    .navbar .navbar-title {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .navbar .nav-item {
        margin: 5px 0;
        width: 100%;
        background-color: none !important;
    }

    .start-100 {
        left: 10% !important;
        top: 15% !important;
    }

    .navbar .nav-item .nav-link {
        background-color: var(--primary-color) !important;
        margin: 0 16px;
    }

    .navbar .nav-item .navbar .form-control {
        width: 100%;
        margin: auto;
    }
}