<div class="container mt-4" *ngIf="card">
    <div class="card shadow-lg">
      <!-- Geri Dön Butonu -->
      <button class="btn btn-outline-secondary back-button" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
  
      <!-- Küçültülmüş Görsel -->
      <img src="../../../assets/site-img/{{card.image}}" class="card-img-top" alt="{{ card.title }}">
  
      <div class="card-body">
        <div class="card-header">
          <h2 class="card-title">{{ card.title }}</h2>
          <p class="card-text deadline"><strong>Başvuru Tarihi: </strong>{{card.startline}} - {{ card.deadline }}</p>
        </div>
  
        <div class="card-details">
          <div class="info-row">
            <p class="card-text"><strong>Bölüm:</strong> {{ card.department }}</p>
            <p class="card-text"><strong>Rol:</strong> {{ card.role }}</p>
          </div>
          <p class="card-text"><strong>Açıklama:</strong></p>
          <p class="card-text" [innerHTML]="card.description | newline"></p>
        </div>
  
        <div class="additional-info">
          <div class="info-row">
            <p class="card-text"><strong>İletişim: </strong> 
              <i class="fa-solid fa-phone"></i> {{ card.phone }} | 
              <i class="fa-solid fa-envelope"></i> {{ card.email }}
            </p>
            <p class="card-text"><strong>Adres:</strong> {{ card.address }}</p>
          </div>
          <p class="card-text"><strong>Başvuru Şartları:</strong> {{ card.conditions }}</p>
          <p class="card-text"><strong>Öğretim Türü:</strong> {{ card.educationType }}</p>
        </div>
  
        <!-- Kullanıcı giriş yapmışsa başvur butonu göster -->
        <button *ngIf="isLoggedIn" class="btn btn-success apply-button">Başvur</button>
      </div>
    </div>
  </div>
  