/* Admin Panel Layout */
.d-flex {
  display: flex;
  height: calc(100vh - 86px);
}

/* Sol Menü */
#sidebar {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  background-color: var(--primary-color);
  color: var(--text-color);
  height: calc(100vh - 86px);
  position: sticky;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

/* Menü Butonu (Her çözünürlükte görünür) */
.menu-button {
  border-radius: 0;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  height: max-content;

}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  width: 100%;
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
}


/* Menü İçeriği */
nav ul {
  padding: 0;
  list-style: none;
}

nav .nav-item {
  margin: 10px 0;
}

nav button {
  color: var(--text-color);
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Sağ Kısım */
.flex-grow-1 {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--background-color);
  overflow-y: auto;
}

/* Büyük Ekranda Menü Görünsün */
@media (min-width: 768px) {
  #sidebar {
    width: 250px;
    /* Menü genişliği */
  }

  .menu-button {
    display: none;
  }

  .nav-item {
    text-align: left;
    padding: 10px 0;
  }
}

/* Tablet ve Mobil Ekranlarda Menü */
@media (max-width: 767px) {
  #sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    /* Menü gizli */
    z-index: 1050;
    transition: left 0.3s ease;
  }

  #sidebar.show {
    left: 0;
    /* Menü açıldığında görünsün */
  }

  .menu-button {
    display: block;
    /* Menü butonu görünsün */
    width: max-content;
    height: calc(100vh - 86px);
    margin-bottom: 10px;
  }

  .flex-grow-1 {
    margin-left: 0;
    /* Menü kapalı olduğunda sağdaki içeriği genişletir */
  }


  .nav-item {
    text-align: center;
    padding: 10px 0;
  }
}

