<div class="text-center">
    <h1 class="mt-3">Kocaeli Üniversitesi</h1>
    <p>Akademik Personel Başvuru Sistemine Hoşgeldiniz!</p>
</div>
<div class="container mt-4">
    <div class="mt-4">
        <ul class="nav nav-tabs" id="applicationTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="status === 'active'" id="active-tab" type="button" role="tab"
                    (click)="status = 'active'">Aktif İlanlar</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="status === 'past'" id="past-tab" type="button" role="tab"
                    (click)="status = 'past'">Geçmiş İlanlar</button>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active">
                <utk-cards [status]="status"></utk-cards>
                <button class="btn btn-primary mt-3 w-100">
                    <a class="nav-link" [routerLink]="status === 'active' ? '/ilanlar/aktif' : '/ilanlar/gecmis'">
                        Tüm {{ status === 'active' ? 'Aktif' : 'Geçmiş' }} İlanlar
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
