<div class="container">
    <div class="row">
        <h2 class="mt-2">Bildirimler</h2>
        <div class="table-responsive">
            <table class="bildirim-table">
                <thead>
                    <tr>
                        <th><i class="fas fa-icons"></i> İkon</th>
                        <th><i class="fas fa-heading"></i> Başlık</th>
                        <th><i class="fas fa-comment-alt"></i> Açıklama</th>
                        <th><i class="fas fa-calendar-alt"></i> Tarih</th>
                        <th><i class="fas fa-circle"></i> Durum</th>
                        <th><i class="fas fa-tools"></i> İşlemler</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let notification of notifications.slice().reverse()">
                        <td>
                            <!-- İkonu dinamik olarak göster -->
                            <i class="fa" [ngClass]="notification.icon" [style.color]="notification.renk"></i>
                        </td>
                        <td>{{ notification.baslik }}</td>
                        <td>{{ notification.aciklama }}</td>
                        <td>{{ notification.olusturmaTarihi | date: 'HH:mm dd/MM/yyyy' }}</td>
                        <td>
                            <!-- Durumu true/false'a göre göster -->
                            <span [ngClass]="{'status-read': notification.status, 'status-unread': !notification.status}">
                                {{ notification.status ? 'Okundu' : 'Okunmadı' }}
                            </span>
                        </td>
                        <td *ngIf="notification.status === false">
                            <button class="btn btn-primary me-2 mt-2 mb-2 w-100" (click)="markAsRead(notification.id)">
                                <i class="fa-solid fa-eye-low-vision"></i> Okundu Olarak İşaretle
                            </button>
                        </td>
                        <td *ngIf="notification.status === true">
                            <button class="btn btn-danger me-2 mt-2 mb-2 w-100" (click)="markAsUnRead(notification.id)">
                                <i class="fas fa-eye"></i> Okunmadı Olarak İşaretle
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger me-2 mt-2 mb-2 w-100" (click)="deleteNotification(notification.id)">
                                <i class="fas fa-trash-alt"></i> Sil
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
