/* İzole edilmiş tablo sınıfı ile tüm stil bozulmasın */
.admin-table {
  --bs-table-bg: var(--card-background-color) !important; /* Arka plan rengi */
  --bs-table-color: var(--text-color) !important; /* Yazı rengi */
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Başlık hücreleri için stil */
.admin-table th {
  background-color: var(--primary-color) !important;
  color: white;
  font-weight: bold;
}

.admin-table tr:hover {
  background-color: var(--primary-hover-color);
  transition: 0.3s;
}

/* Hücrelerin genel sınırları ve stilini düzenleyelim */
.admin-table th,
.admin-table td {
  border-top: 1px solid var(--secondary-text-color);
  padding: 12px; /* Hücrelere biraz boşluk ekleyelim */
  vertical-align: middle; /* Yazıları dikeyde ortala */
}

/* Durum Badges */
.admin-table .badge.bg-success {
  font-size: 16px;
}

.admin-table .badge.bg-secondary {
  font-size: 16px;
}

/* Butonlar için hover efektleri */
.admin-table button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

/* İkonları butonlarda hizalamak için margin */
.admin-table button i {
  margin-right: 8px; /* İkon ile metin arasında boşluk */
}

/* Mobil uyumluluk için tabloyu responsive yapalım */
.admin-table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 35px;
  height: 35px;
}

.modal-header {
  background-color: var(--primary-color);
  color: white;
}

.modal-body {
  background-color: var(--card-background-color);
}

/* Modal Başlık */
.modal-title {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
}

/* Modal Genel Yapısı */
.modal-content {
  background-color: var(--card-background-color);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Modal Kapanma Butonu */
.modal-header .close {
  color: var(--text-color);
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-header .close:hover {
  color: var(--primary-color);
}

/* Modal Body */
.modal-body {
  padding: 20px;
}

/* Modal Form Alanları */
.modal-body .form-group {
  margin-bottom: 15px;
}

.modal-body label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
}

.modal-body input,
.modal-body select,
.modal-body quill-editor {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Focus ve Hover Efektleri */
.modal-body input:focus,
.modal-body select:focus,
.modal-body quill-editor:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(8, 162, 80, 0.3);
}

.modal-body input:hover,
.modal-body select:hover,
.modal-body quill-editor:hover {
  border-color: var(--primary-color);
  background-color: var(--input-hover-background-color);
}

/* Modal İçindeki Quill Editör */
quill-editor {
  margin-top: 10px;
}

quill-editor::ng-deep .ql-container {
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}

quill-editor::ng-deep .ql-toolbar {
  background-color: var(--card-background-color);
  border: 1px solid var(--primary-color);
}

quill-editor::ng-deep .ql-editor {
  font-size: 1rem;
  min-height: 150px;
}

/* Modal İptal ve Kaydet Butonları */
.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal-footer button[type="button"] {
  background-color: var(--secondary-color);
  color: white;
}

.modal-footer button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
}

/* Modal Responsive */
@media (max-width: 768px) {


  .modal-body {
    padding: 15px;
  }

  .modal-body .form-group {
    margin-bottom: 10px;
  }
}

/* -----------------------------------------------------------------*/
/* Modal İçeriği */
.modal-body {
  padding: 20px;
}

/* Form Satırları */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

/* Form Alanları */
.form-group {
  flex: 1;
  min-width: 200px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-color);
}

.form-group input,
.form-group select,
.quill-editor {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-size: 1rem;
}

/* Flexbox düzeniyle yan yana pozisyon ve bölüm alanları */
.form-row .form-group {
  flex: 1;
  min-width: 250px; /* En küçük genişlik */
}

.form-row .form-group input,
.form-row .form-group select {
  width: 100%;
  padding: 12px;
}

/* Tarih alanlarının yan yana görünmesi için */
.form-row .form-group {
  flex: 1;
  min-width: 200px;
}

/* Tarih alanlarının düzenlenmesi */
.form-row .form-group input[type="datetime-local"] {
  padding: 10px;
}

/* İptal ve Kaydet Butonları */
button[type="submit"] {

  border-radius: 8px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

button[type="submit"]:hover {
  background-color: var(--primary-color-dark);
}

/* Mobil uyumluluk için form satırlarını alt alta yapalım */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-row .form-group {
    min-width: 100%; /* Form alanları tam genişlikte olacak */
    margin-bottom: 10px;
  }

  /* Tarih alanları için özel düzenleme */
  .form-row .form-group input[type="datetime-local"] {
    padding: 10px;
  }
}

/* Input, Select ve Quill Editor */
input,
select,
quill-editor {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Focus ve Hover Efektleri */
input:focus,
select:focus,
quill-editor:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(8, 162, 80, 0.3);
}

input:hover,
select:hover,
quill-editor:hover {
  border-color: var(--primary-color);
  background-color: var(--input-hover-background-color);
}

input::placeholder {
  color: var(--secondary-text-color); /* Gri placeholder */
}

/* Quill editörü için genel stil güncellemeleri */
quill-editor::ng-deep .ql-container {
  background-color: var(--input-background-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--primary-color) !important;
}

quill-editor::ng-deep .ql-editor {
  font-size: 1rem !important;
  color: var(--text-color) !important;
  min-height: 200px;
}

/* Quill Toolbar için butonları hedefle */
quill-editor::ng-deep .ql-toolbar {
  background-color: var(--card-background-color) !important;
  border: 1px solid var(--primary-color) !important;
}

/* Quill Button ve Icon Renkleri */
quill-editor::ng-deep .ql-toolbar button,
quill-editor::ng-deep .ql-toolbar .ql-picker-item {
  color: var(--text-color) !important;
  border-color: var(--primary-color) !important;
}

quill-editor::ng-deep .ql-snow .ql-stroke,
quill-editor::ng-deep .ql-snow .ql-fill {
  color: var(--text-color) !important;
  stroke: var(--text-color) !important;
}
quill-editor::ng-deep .ql-toolbar.ql-snow .ql-picker-label {
  color: var(--text-color) !important;
}
quill-editor::ng-deep .ql-toolbar.ql-snow .ql-picker-options {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border: none !important;
}

/* Quill Placeholder Rengi */
quill-editor::ng-deep .ql-editor::before {
  color: var(--secondary-text-color) !important;
}

