/* Temalar */

/* Varsayılan olarak açık tema */
[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: rgb(8, 162, 80);
  --secondary-color: rgb(35, 173, 100);
  --secondary-text-color: #666666;
  --card-background-color: #ececec;
  --input-background-color: #ffffff;
  --input-hover-background-color: rgb(234, 250, 237);
  --primary-hover-color: rgb(6, 142, 70);
  --scrollbar-bg: #ddd;
  --scrollbar-thumb: #aaa;
}

/* Koyu tema */
[data-theme="dark"] {
  --background-color: rgb(40, 43, 48);
  --text-color: #ffffff;
  --primary-color: rgb(8, 162, 80);
  --secondary-color: rgb(35, 173, 100);
  --secondary-text-color: #bbbbbb;
  --card-background-color: rgb(54, 57, 62);
  --input-background-color: rgb(66, 69, 73);
  --input-hover-background-color: #555555;
  --primary-hover-color: rgb(6, 142, 70);
  --scrollbar-bg: #333;
  --scrollbar-thumb: #666;
}

/* Genel Stil */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


/* Özel Kaydırma Çubuğu */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* SweetAlert2 Temaya Uyumlu Stil */
.swal2-popup {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 12px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}
.custom-swal-popup-xl {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 12px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  width: 800px !important;
}
.custom-swal-confirm {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  border-color: var(--secondary-color) !important;
}

.custom-swal-confirm:hover {
  background-color: var(--primary-hover-color) !important;
}

.custom-swal-cancel {
  background-color: var(--input-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
}

.custom-swal-cancel:hover {
  background-color: var(--input-hover-background-color) !important;
}

/* Apply additional styling to inputs and buttons */
.swal2-input {
  background-color: var(--input-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 5px !important;
  padding: 10px 15px !important;
  width: 100% !important;
  margin: 5px 0 !important;
}

.swal2-button {
  border-radius: 8px !important;
}

.swal2-popup {
  border-radius: 10px !important;
}

.ql-size-huge {
  font-size: 2em;
}

.ql-size-large {
  font-size: 1.5em;

}

.ql-size-medium {
  font-size: 1em;
}

.ql-size-small {
  font-size: 0.5em;
}

.color-box {
  width: 20px;
  border-radius: 5px;
  display: inline-block;
  height: 20px; /* Kare köşeler için */
  margin-bottom: -4px;

}

/* Light tema için filtre */
[data-theme="light"] input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(0%) sepia(0%) saturate(0%) brightness(1) contrast(100%) hue-rotate(180deg) opacity(0.8);
}

/* Dark tema için filtre */
[data-theme="dark"] input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(100%) saturate(100%) brightness(1) contrast(100%) hue-rotate(180deg);
}