/* Temalar */

/* Varsayılan olarak açık tema */
[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: rgb(8, 162, 80);
    --secondary-color: rgb(35, 173, 100);
    --secondary-text-color: #666666;
    --card-background-color: #ececec;
    --input-background-color: #ffffff;
    --input-hover-background-color: rgb(234, 250, 237);
    --primary-hover-color: rgb(6, 142, 70);
  }
  
  /* Koyu tema */
  [data-theme="dark"] {
    --background-color: rgb(40,43,48);
    --text-color: #ffffff;
    --primary-color: rgb(8, 162, 80);
    --secondary-color: rgb(35, 173, 100);
    --secondary-text-color: #bbbbbb;
    --card-background-color: rgb(54,57,62);
    --input-background-color: rgb(66,69,73);
    --input-hover-background-color: #555555;
    --primary-hover-color: rgb(6, 142, 70);
  }
  
  /* Genel Stil */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* SweetAlert2 Temaya Uyumlu Stil */
.swal2-popup {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 12px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

.custom-swal-confirm {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
}

.custom-swal-confirm:hover {
  background-color: var(--primary-hover-color) !important;
}

.custom-swal-cancel {
  background-color: var(--input-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
}

.custom-swal-cancel:hover {
  background-color: var(--input-hover-background-color) !important;
}

/* Apply additional styling to inputs and buttons */
.swal2-input {
  background-color: var(--input-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 5px !important;
  padding: 10px 15px !important;
  width: 100% !important;
  margin: 5px 0 !important;
}

.swal2-button {
  border-radius: 8px !important;
}

.swal2-popup {
  border-radius: 10px !important;
}

